%body
  = javascript_include_tag('home_page')
  = javascript_include_tag('nouislider')
  - provide(:title,"Home")
  = render 'layouts/menu_bar'
  %title= yield(:title)
  .menu
    = render 'layouts/dishes'