-provide(:title,@user.name)

%div.row
  %div.col-md-4
    %section.user-info
      = gravatar_for @user
      %h1
        = @user.name
      %p.user-email
        = @user.email
    = button_to 'Settings', edit_user_path(@user), method: :put, class: 'btn btn-primary bttn-settings'
    %br/
    %br/
    = button_to 'My orders', orders_url, method: :get, class: 'btn btn-primary bttn-orders'

