.columns.align-items-center
  .column.is-1
    .cart-picture
      = image_tag(url_for(order_item.product.image))
  .column.is-9
    %strong= order_item.product.title
    .columns.align-items-center
      .column.is-3.has-text-right
        %strong.f4= number_to_currency(order_item.total_price)
    .column.is-2
    %strong= "Quantity: #{order_item.quantity}"