%div.items
  %div#left-top.item
    %div.picture
      = image_tag('f1.jpg',alt: 'Eggs')
    %b
      %p.title Eggs
      %p.category Breakfast
      %p.price $12
  %div#top.item
    %div.picture
      = image_tag('f2.jpg',alt: 'Sweets')
    %b
      %p.title Sweets
      %p.category Breakfast
      %p.price $17
  %div#top.item
    %div.picture
      = image_tag('f3.jpg',alt: 'Cereals')
    %b
      %p.title Gourmet Breakfast
      %p.category Breakfast
      %p.price $20
  %div#top-right.item
    %div.picture
      = image_tag('f4.jpg',alt: 'Risotto')
    %b
      %p.title Risotto
      %p.category Second Courses
      %p.price $45
%div.items
  %div#left.item
    %div.picture
      = image_tag('f5.jpg',alt: 'Meat')
    %b
      %p.title Fancy Meat
      %p.category Second Courses
      %p.price $70
  %div.item
    %div.picture
      = image_tag('f6.jpg',alt: 'Sea Weed Rice')
    %b
      %p.title Sea Weed Rice
      %p.category Entrees
      %p.price $37
  %div.item
    %div.picture
      = image_tag('f7.jpg',alt: 'Cereals')
    %b
      %p.title Spaghetti
      %p.category Second Courses
      %p.price $40
  %div#right.item
    %div.picture
      = image_tag('f8.jpg',alt: 'Risotto')
    %b
      %p.title Spotted Burger
      %p.category Burgers
      %p.price $70
%div.items
  %div#left.item
    %div.picture
      = image_tag('f1.jpg',alt: 'Eggs')
    %b
      %p.title Eggs
      %p.category Breakfast
      %p.price $12
  %div.item
    %div.picture
      = image_tag('f2.jpg',alt: 'Sweets')
    %b
      %p.title Sweets
      %p.category Breakfast
      %p.price $17
  %div.item
    %div.picture
      = image_tag('f3.jpg',alt: 'Cereals')
    %b
      %p.title Gourmet Breakfast
      %p.category Breakfast
      %p.price $20
  %div#right.item
    %div.picture
      = image_tag('f4.jpg',alt: 'Risotto')
    %b
      %p.title Risotto
      %p.category Second Courses
      %p.price $45
%div.items
  %div#left-bottom.item
    %div.picture
      = image_tag('f5.jpg',alt: 'Meat')
    %b
      %p.title Fancy Meat
      %p.category Second Courses
      %p.price $70
  %div.item
    %div#bottom.picture
      = image_tag('f6.jpg',alt: 'Sea Weed Rice')
    %b
      %p.title Sea Weed Rice
      %p.category Entrees
      %p.price $37
  %div#bottom.item
    %div.picture
      = image_tag('f7.jpg',alt: 'Cereals')
    %b
      %p.title Spaghetti
      %p.category Second Courses
      %p.price $40
  %div#bottom-right.item
    %div.picture
      = image_tag('f8.jpg',alt: 'Risotto')
    %b
      %p.title Spotted Burger
      %p.category Burgers
      %p.price $70


