<div class="items">
  <div class="item" id="left-top">
    <div class="picture"><%= image_tag('f1.jpg', alt: '') %></div>
    <b><p clas="title" style="font-size: 30px;">Eggs</p></b>
    <p class="category">Breakfast</p>
    <p class="price">$12</p>
  </div>
  <div class="item" id="top">
    <div class="picture"><%= image_tag("f2.jpg") %></div>
    <b><p clas="title" style="font-size: 30px;">Sweets</p></b>
    <p class="category">Breakfast</p>
    <p class="price">$17</p>
  </div>
  <div class="item" id="top">
    <div class="picture"><%= image_tag('f3.jpg')%></div>
    <b><p clas="title" style="font-size: 30px;">Gourmet Breakfast</p></b>
    <p class="category">Breakfast</p>
    <p class="price">$20</p>
  </div>
  <div class="item" id="top-right">
    <div class="picture"><%= image_tag('f4.jpg')%></div>
    <b><p clas="title" style="font-size: 30px;">Risotto</p></b>
    <p class="category">Second Courses</p>
    <p class="price">$45</p>
  </div>
</div>
<div class="items">
  <div class="item" id="left">
    <div class="picture"><%= image_tag('f5.jpg')%></div>
    <b><p clas="title" style="font-size: 30px;">Fancy Meat</p></b>
    <p class="category">Second Courses</p>
    <p class="price">$70</p>
  </div>
  <div class="item">
    <div class="picture"><%= image_tag('f6.jpg')%></div>
    <b><p clas="title" style="font-size: 30px;">Sea Weed Rice</p></b>
    <p class="category">Entrees</p>
    <p class="price">$37</p>
  </div>
  <div class="item">
    <div class="picture"><%= image_tag('f7.jpg')%></div>
    <b><p clas="title" style="font-size: 30px;">Spaghetti</p></b>
    <p class="category">Second Courses</p>
    <p class="price">$40</p>
  </div>
  <div class="item" id="right">
    <div class="picture"><%= image_tag('f8.jpg')%></div>
    <b><p clas="title" style="font-size: 30px;">Spotted Burger</p></b>
    <p class="category">Burgers</p>
    <p class="price">$70</p>
  </div>
</div>
<div class="items">
  <div class="item" id="left">
    <div class="picture"><%= image_tag('f1.jpg', alt: '') %></div>
    <b><p clas="title" style="font-size: 30px;">Eggs</p></b>
    <p class="category">Breakfast</p>
    <p class="price">$12</p>
  </div>
  <div class="item">
    <div class="picture"><%= image_tag("f2.jpg") %></div>
    <b><p clas="title" style="font-size: 30px;">Sweets</p></b>
    <p class="category">Breakfast</p>
    <p class="price">$17</p>
  </div>
  <div class="item">
    <div class="picture"><%= image_tag('f3.jpg')%></div>
    <b><p clas="title" style="font-size: 30px;">Gourmet Breakfast</p></b>
    <p class="category">Breakfast</p>
    <p class="price">$20</p>
  </div>
  <div class="item" id="right">
    <div class="picture"><%= image_tag('f4.jpg')%></div>
    <b><p clas="title" style="font-size: 30px;">Risotto</p></b>
    <p class="category">Second Courses</p>
    <p class="price">$45</p>
  </div>
</div>
<div class="items">
  <div class="item" id="left-bottom">
    <div class="picture"><%= image_tag('f5.jpg')%></div>
    <b><p clas="title" style="font-size: 30px;">Fancy Meat</p></b>
    <p class="category">Second Courses</p>
    <p class="price">$70</p>
  </div>
  <div class="item" id ="bottom">
    <div class="picture"><%= image_tag('f6.jpg')%></div>
    <b><p clas="title" style="font-size: 30px;">Sea Weed Rice</p></b>
    <p class="category">Entrees</p>
    <p class="price">$37</p>
  </div>
  <div class="item" id = 'bottom'>
    <div class="picture"><%= image_tag('f7.jpg')%></div>
    <b><p clas="title" style="font-size: 30px;">Spaghetti</p></b>
    <p class="category">Second Courses</p>
    <p class="price">$40</p>
  </div>
  <div class="item" id="bottom-right">
    <div class="picture"><%= image_tag('f8.jpg')%></div>
    <b><p clas="title" style="font-size: 30px;">Spotted Burger</p></b>
    <p class="category">Burgers</p>
    <p class="price">$70</p>
  </div>
</div>
